@page

@model IndexModel
@{
    ViewData["Title"] = "Tilmelding til KICK - din løbestart";
}

<partial name="/pages/_Carousel.cshtml" />
<br />

<div class="row">
        <div class="col-md-6">
            <div class="img-rounded">

                <h4>Vil du lære at løbe? Kom i gang i et lokalt, trygt og fedt fællesskab!</h4>
                <h5>KICK – Din løbestart er et nyt tilbud fra en række østjyske løbeklubber, lavet i samarbejde med DGI Løb, målrettet voksne, der godt kunne tænke sig at komme i gang med at løbe.</h5>

                <P>KICK – Din løbestart giver dig:</P>
                <ul>
                    <li>Et trygt og sikkert fællesskab at komme i gang med løb</li>
                    <li>Adgang til et begynderhold i en løbeklub i dit lokalområde i 12 uger</li>
                    <li>Hjælp og opbakning fra motiverede trænere</li>
                    <li>Løb i dit tempo og skadesforebyggende træning</li>
                    <li>En lyst til at løbe og ikke mindst nyde det</li>
                    <li>Større overskud og glæde i hverdagen på længere sigt</li>
                    <li>Afslutningsevent i forbindelse med <a href="/RoyalRun"> Royal Run i Aarhus</a></li>
                    <li>En flot løbe-T-shirt</li>

                </ul>
                <p>Alt dette får du for kun 399 kr. (prisen er vejlende og kan afvige fra løbeklub til løbeklub)</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="img-rounded">
                <h4>Hvorfor skal jeg tilmelde mig?</h4>

                <p>Det kan være, du vil i gang med at motionere igen efter en længere pause. Det kan være, at du aldrig før har dyrket regelmæssig motion, men vil til at starte. Det er lige meget, hvor du kommer fra og hvad dit niveau er.</p>
                <p>Hos KICK – Din løbestart har vi ikke fokus på tider, kilometer eller om du har det sidste nye skrig indenfor løbetøj. Her kan alle kan være med uanset niveau og forudgående erfaringer.</p>
                <p>KICK – Din løbestart giver du mulighed for at komme sikkert i gang med løb i en løbeklub i dit lokalområde med opstart i uge 10, 2019. Du starter på et begynderhold sammen med andre nye løbere, og du vil hurtigt opleve, hvordan du bliver bedre uge efter uge i et fedt fællesskab sammen med de andre.</p>

                <p>Forløbet afsluttes efter 12 uger med en stor løbeevent med begynderholdene fra de andre østjyske løbeklubber søndag den 2. juni 2019 i Mindeparken i Aarhus. Herefter bliver du inviteret til at fortsætte med at løbe på hold i din lokale klub – selvfølgelig sammen med dem, du er startet med.</p>

                <p>Vi glæder os til at byde dig velkommen.</p>

            </div>
        </div>
    </div>
<hr/>

<partial name="/pages/_SignupForm.cshtml" />







