@page

@model RoyalRunModel
@{
    ViewData["Title"] = "Royal Run, Tilmelding til KICK - din løbestart";
}

<partial name="/pages/_Carousel_RR.cshtml" />
<br />

<div class="row">
        <div class="col-md-6">
            <div class="img-rounded">

                <h4>Skal du løbe Royal Run i Aarhus? Bliv klar til løbet med KICK – Din løbestart</h4>
                <h5>Ønsker du at komme sikkert i gang med et liv som løber, er KICK – Din Løbestart lige noget for dig. Du kan også bruge tilbuddet som fortræning til Royal Run i Aarhus, hvor vi ved, at der er mange nye løbere med. Måske du er en af dem, der skal løbe med Kronprinsen?</h5>
                
                <p>KICK – Din løbestart er et nyt tilbud fra en række østjyske løbeklubber, lavet i samarbejde med DGI Løb, målrettet voksne, der godt kunne tænke sig at komme i gang med at løbe.</p>

                <p>Hos KICK – Din løbestart har vi ikke fokus på tider, kilometer eller om du har det sidste nye skrig indenfor løbetøj. Her kan alle kan være med uanset niveau og forudgående erfaringer.</p>

                
                

                <P>KICK – Din løbestart giver dig:</P>
                <ul>
                    <li>Et trygt og sikkert fællesskab at komme i gang med løb</li>
                    <li>Adgang til et begynderhold i en løbeklub i dit lokalområde i 12 uger</li>
                    <li>Hjælp og opbakning fra motiverede trænere</li>
                    <li>Løb i dit tempo og skadesforebyggende træning</li>
                    <li>En lyst til at løbe og ikke mindst nyde det</li>
                    <li>Større overskud og glæde i hverdagen på længere sigt</li>
                    <li>Afslutningsevent i forbindelse med Royal Run i Aarhus</li>
                    <li>En flot løbe-T-shirt</li>

                </ul>
                <p>Alt dette får du for kun 399 kr. (prisen er vejlende og kan afvige fra løbeklub til løbeklub)</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="img-rounded">
                <h4>Hvorfor skal jeg tilmelde mig?</h4>

                <p>Det kan være, du vil i gang med at motionere igen efter en længere pause. Det kan være, at du aldrig før har dyrket regelmæssig motion, men vil til at starte. Det kan være, at du skal løbe Royal Run i Aarhus eller deltage i et andet motionsløb. Det er lige meget, hvor du kommer fra og hvad dit niveau er.</p>

                <p>KICK – Din løbestart giver du mulighed for at komme sikkert i gang med løb i en løbeklub i dit lokalområde med opstart i uge 10, 2019. Du starter på et begynderhold sammen med andre nye løbere, og du vil hurtigt opleve, hvordan du bliver bedre uge efter uge i et fedt fællesskab sammen med de andre.</p>
                <p>Forløbet afsluttes efter 12 uger i forbindelse med Royal Run i Aarhus den 10. juni sammen begynderholdene fra de andre østjyske løbeklubber, hvor vi satser på at få vores egen zone i målområdet.</p>

                <p>Vi glæder os til at byde dig velkommen.</p>

            </div>
        </div>
    </div>
<hr/>

<partial name="/pages/_SignupForm.cshtml" />







