@page
@model TakModel
@{
    ViewData["Title"] = "Tak for din tilmelding til KICK - din løbestart";
}



<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>

    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/image1.jpg" alt="Image1" class="img-rounded" />
            <div class="carousel-caption" role="option">
                <p>
                    Du skal snart starte med at løbet, vi kontakter dig snarest!
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/image2.jpg" alt="Image2" class="img-rounded" />
            <div class="carousel-caption" role="option">
                <p>
                    Godt at du har meldt dig til, vi glæder os til at tage imod dig!
                </p>
            </div>
        </div>

    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<br />
<br /><br />



<h2>Tak for din tilmelding til programmet.</h2>

<p>
    Vi kontakter dig snarest forhold til en klub du kan starte i.
</p>


<br />
<br /><br />